html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, font, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td {
			margin: 0;
			padding: 0;
			border: 0;
			outline: 0;
			font-weight: inherit;
			font-style: inherit;
			font-size: 100%;
			font-family: inherit;
			vertical-align: baseline;
		}


		:focus {
			outline: 0;
		}

		body {
			line-height: 1;
			color: black;
			background: white;
		}

		ol, ul {
			list-style: none;
		}


		table {
			border-collapse: separate;
			border-spacing: 0;
		}

		caption, th, td {
			text-align: left;
			font-weight: normal;
		}

		blockquote:before, blockquote:after,
		q:before, q:after {
			content: "";
		}

		blockquote, q {
			quotes: "" "";
}

body {
	z-index: -2;
	background: url("https://wallpapersite.com/images/wallpapers/blur-background-2880x1800-spectrum-electromagnetic-4k-901.jpg");
	background-size: cover;
        height:100%;
}
#header {
	background: rgba(0, 0, 0, .8);
	text-align: center;
	display: block;
	width: 100%;
	height: 130px;
}
.logo {
	width: 100px;
	height: 100px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
#login {
	float: right;
	margin-top: 50px;
	margin-right: 50px;
}
#main {
	width: 1300px;
	
	margin: auto;
	padding: 5px;
	background: rgba(135, 135, 135, .7);
	margin-top: 30px;
	margin-bottom: 10px;
        overflow: auto;        
}
.section1, .section2 {
	width: 37%;
	height: 500px;
	margin: auto;
	float: left;
	margin-left: 90px;
	margin-bottom: 30px;
	background: rgba(100, 100, 100, .7);

}
h1 {
	font-size: 24px;
	font-wight: bold;
	color: white;
	margin: 15px;
}
.comment-box{
        width: 300px;
        margin-left: 40px;
        background: #d6d6d6;
        margin-right: 100px;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 0px 20px 10px 20px;
        line-height: 25px;
}
.user-date{
        font-weight: bold;
        font-size: 16px;
        text-decoration: underline;
}
#main input {
        width: 80%;
        padding: 12px 10px;
        margin-top: 8px;
        margin-left: 30px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
}
#header input {
        padding: 12px 10px;
        margin-top: 0px;
        margin-left: 10px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
}
button {
	margin: 10px;
	margin-left: 10px;
	padding: 10px 15px;
}
#main button {
	margin-left: 30px;
	cursor: pointer;
}


